# Node dependencies
**/node_modules
**/.next
**/dist
**/build

# Python dependencies
**/__pycache__
**/.venv
**/env
**/*.pyc

# Environment variables
**/.env*
!**/.env.example
!**/.env.template

# OS files
.DS_Store
Thumbs.db
